body{
    font-family: sans-serif;
    margin: 0px;
    color: white;
  }

  
  
.mydiv1 { 
 width: 100%;
 height: 325px; 
 background-color: black;
}   

.mydiv2 {
width: 100%;
height: 325px;
background-color: red;
} 


.mydiv3 {   
width: 100%;
height: 325px;
background-color: yellow;
} 