body{
font-family: 'Roboto', sans-serif;
background-color:rgb(240, 240, 240);


}

.box{
    background-color:#FFFFFF;
    height: 395px;
    width: 355px;
border: 1px thin;
display: flex;
flex-direction: column;
margin-left: 715px;
margin-top: 285px;
}


.Användarnamn{
    font-family: 'Roboto Slab', serif;

}

.Lösenord{
    font-family: 'Roboto Slab', serif;  
    
}



label, input{
    display: table-cell;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 5px;
    width: 275px;
    
    
}

.gl{
margin-bottom: 20px;
color: #774BEF;
}

.sk{
color: #774BEF;

}

.button{
    
    margin-left: 225px;
}

.box2{
    border: 1px solid;
    background-color:#774BEF ;
    border-radius: 6%;
    width: 32%;
    height: 30px;
    color: white;
    text-align: center;
margin-left: 65%;
font-size: 18px;
padding-top: 4px;
padding-bottom: 3px;
}

a:hover{
    text-decoration: none;
background-color: #A372FF;

}

.lfö{
    color: gray;
position:absolute;
margin-left: 819px;

font-size: 13px;
display: none;
}

.lfö2{
    color: gray;
    margin-left: 802px;
}


@media screen and (max-width: 355px)  {}
    .box {
background-color:#FFFFFF;
    } 
    
    .lfö{
        display: unset;
    }

    .lfö2{
        display: none;
    }
