body{
font-family: sans-serif;
text-align: center;
justify-content: center;
background-color: rgb(255, 255, 255);
align-items: center;

}

.box{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 350px;
border: 1px solid;

justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}


.Användarnamn{
width: 95%;

}

.Lösenord{
    width: 97.2%;
    
}