body{

 
    font-family: 'Palette Mosaic', cursive;
    background-color: yellow;
   

}

h1{
    color: red;
}

.parent{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;

}







