body{

 
    font-family: 'Palette Mosaic', cursive;
    background-color: yellow;
   

}

h1{
    color: red;
}

.parent{
    display: flex;
    
    justify-content: center;
    align-items: center;
text-align: center;
}







