body{
    background-color: black;
}

.text{
  color: white;  
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 55%;
}


@media screen and (max-width: 900px) {
    body {
        background-color: rgb(255, 0, 0);
    }
}