body{
    font-family: sans-serif;
    margin: 0px;
    color: white;
  }
  
  .parent{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
.mydiv1 {  
 background-color: rgb(255, 255, 255);
 text-align: center;
 color: black;
 margin-top: 333px;
}   
