body{
    font-family: sans-serif;
    color: rgb(255, 255, 255); 
}

.myDiv {
    padding: 10px;
    background-color: rgb(255, 0, 0);
    text-align: left;

}   

.myDiv2 {
    padding: 2px;
    background-color: rgb(13, 61, 4);
    text-align: left;
    margin: 70px; ;

}   


.myDiv3 {
    padding: 100px;
    background-color: rgb(0, 47, 255);
    text-align: top left;

}   

