body{
    font-family: sans-serif;
    color: white;
  }
  
  .parent {

    display: flex;
    width: 500px;
    height: 250px;
    border: 1px solid;
  }
    
  .children {

    width: 100%;
    height: 100%;
    color: black;
    border: 1px solid;
  }
  
  

