body{
    font-family: sans-serif;
    color: white;
  }
  
  .mydiv1{
    text-align: center;
      
   color: black;
  }  
  

  
  .mydiv2 {
    
   text-align: center;    
   color: black;
   
  } 
  a:link{
    text-decoration: none;
  }
  
 a:hover{
   text-decoration: underline;
 }

 :active{
   text-decoration: none;
 }

 

  