body{
    font-family: sans-serif;
    color: white;
  }
  
  .mydiv1{
     
      text-align: center;
   color: black;
  }   
  a:hover {
    background-color: red;
  }
  .mydiv2 {
  
      text-align:center;
   color: black;
   
  } 
  
  
  